<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sychen.user">
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name="com.sychen.basic.MyApplication">
        <activity android:name="com.sychen.user.activity.UserActivity" />
    </application>
</manifest>