<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sychen.collect">
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".activity.CollectActivity" />
        <activity android:name=".activity.CollectMainActivity" />
    </application>

</manifest>